<div id="content">
  <h2>
    <%= @recipe.name %>
    <span id="brew_score">
      <strong>Taste:</strong>
      <% if @recipe.ratings.count > 0 %>
        <%= Rating.rating_description(@recipe.ratings.inject(0){ |sum, rating| sum + rating["rating"] } / @recipe.ratings.count) %>
      <% else %>
        <%= Rating.rating_description(0) %>
      <% end %>
    </span>
  </h2>
  <p id="creator">by <%= link_to @recipe.user.username, user_path(@recipe.user) %></p>

  <h3>Ingredients</h3>
  <table id="ingredient_table">
  <% color = aau = 0; %>
  <% @recipe.recipe_ingredients.each do |recipe_ingredient| %>
    <tr class="ingredient">
      <td class="amount"><%= "#{recipe_ingredient.amount}#{recipe_ingredient.unit}" %></td>
      <td><%= recipe_ingredient.ingredient.name %></td>
      <td><%= recipe_ingredient.ingredient.category.name %></td>
      <td>
        <% if recipe_ingredient.ingredient.color %>
          <%= recipe_ingredient.ingredient.color %> &deg;L
          <% color = ((recipe_ingredient.amount * recipe_ingredient.ingredient.color) / @recipe.batch_size) + color %>
        <% end %>
      </td>
      <td>
        <% if recipe_ingredient.ingredient.use %>
          <%= recipe_ingredient.ingredient.use.name %>
        <% end %>
      </td>
      <td>
        <% if recipe_ingredient.time %>
          <%= recipe_ingredient.time %> min.
        <% end %>
      </td>
      <td>
        <% if !recipe_ingredient.ingredient.alpha.nil? %>
          <% aau = (recipe_ingredient.amount * recipe_ingredient.ingredient.alpha) + aau %>
          <%= recipe_ingredient.ingredient.alpha %>AA
        <% end %>
      </td>
    </tr>
  <% end %>
</table>

<h3>Details</h3>
<ul>
  <li>Batch Size: <%= @recipe.batch_size %> gal.</li>
  <li>Boil Time: <%= @recipe.boil_time %> gal.</li>
  <li>Color: <%=
    color = 1.4922 * (color ** 0.6859)
    color > 50 ? 50 : (color).round(2)
  %> SRM</li>
  <li>IBUs:
    <%=
      fG = 1.65 * 0.000125**(@recipe.boil_gravity - 1)
      fT = (1 - Math.log(10)**(-0.04 * @recipe.boil_time)) / 4.15
      u = fG * fT
      ibu = aau * u * (75 / @recipe.batch_size)
      (ibu).round(2)
    %>
  </li>
</ul>
<ul>
  <li>Boil Gravity: <%= @recipe.boil_gravity %></li>
  <li>Orginal Gravity: <%= @recipe.original_gravity %></li>
  <li>Final Gravity: <%= @recipe.final_gravity %></li>
  <li>ABV: <%= ((@recipe.original_gravity - @recipe.final_gravity)* 131).round(2) %>&percnt;</li>
</ul>

<% if current_user && (current_user.id == @recipe.user_id || current_user.admin === true ) %>
  <div id="control_bar">
    <%= link_to '<i class="fa fa-edit"></i> edit'.html_safe, edit_recipe_path(@recipe) %>&nbsp;&bull;&nbsp;<%= link_to '<i class="fa fa-trash-o"></i> delete recipe'.html_safe, "/recipes/#{@recipe.id}/remove", :onclick => "if (confirm('Do you really want to permanently delete this recipe?') == false){ event.preventDefault(); }" %>
  </div>
<% end %>

  <h3>People are saying&hellip;</h3>

  <p class="click" onclick="document.getElementById('new_rating_area').style.display='block'"><i class="fa fa-comments-o fa-flip-horizontal"></i> say something</p>
  <div id="new_rating_area">
    <% if current_user && current_user.id != @recipe.user_id %>
      <%= render 'ratings/form', rating: @rating %>
    <% elsif current_user %>
      <p>(Sorry, you cannot rate your own recipe.)</p>
    <% else %>
      <p>(<%= link_to "sign in", user_session_path %> to rate this beer recipe.)</p>
    <% end %>
  </div>

  <ul id="rating_list">
  <% @recipe.ratings.each do |rating| %>
    <li class="rating">
      <strong><%= Rating::rating_description(rating.rating) %></strong>
      <%= "<br />".html_safe if !rating.comment.nil? && !rating.comment.empty? %>
      <%= rating.comment %>
      &mdash;&nbsp;<%= rating.user.username %>
      <%= link_to '<i class="fa fa-trash-o"></i>'.html_safe, rating, method: :delete, id: "delete_rating_#{rating.user_id}", data: {confirm: "Really? Permanently delete rating?"} if current_user && (current_user.id == rating.user_id || current_user.admin === true) %>
    </li>
  <% end %>
  </ul>

</div>
