<div id="content">
  <h2>
    Tasty ingredients
  <% if !current_user.nil? && current_user.admin === true %>
    <!--<span id="add_ingredient_link">
      <%= link_to "add ingredient", new_ingredient_path %>
    </span>-->
  <% end %>
  </h2>

  <table id="ingredient_list">
    <tr>
      <th class="ingredients">Name</th>
      <th class="ingredients">Kind</th>
      <th class="ingredients">Origin</th>
      <th class="ingredients">Product ID</th>
      <th class="ingredients">Alcohol Tolerance</th>
      <th class="ingredients">Flocculation</th>
      <th class="ingredients">Color</th>
      <th class="ingredients">PPG</th>
      <th class="ingredients">AA</th>
    </tr>
  <% @ingredients.each do |ingredient| %>
    <tr>
      <td>
        <%= link_to ingredient.name, ingredient_path(ingredient), class: "ingredient" %>
      </td>

      <% if ingredient.kind %>
        <td><%= ingredient.kind.name %></td>
      <% end %>

      <% if ingredient.origin %>
        <td><%= ingredient.origin.name %></td>
      <% end %>

      <% if ingredient.product_id %>
        <td><%= ingredient.product_id %></td>
      <% end %>

      <% if ingredient.alcohol_tolerance_id %>
        <td><%= ingredient.alcohol_tolerance.name %></td>
      <% end %>

      <% if ingredient.flocculation_id %>
        <td><%= ingredient.flocculation.name %></td>
      <% end %>

      <% if !ingredient.color.blank? %>
        <td><%= ingredient.color %> &deg;L</td>
      <% end %>

      <% if !ingredient.ppg.blank? %>
        <td><%= ingredient.ppg.round(0) %>PPG</td>
      <% end %>

      <% if !ingredient.alpha.blank? %>
        <td><%= ingredient.alpha %>AA</td>
      <% end %>

    </tr>
  <% end %>
</table>
</div>
